.simple-alert{
    /* display: none !important; */
    opacity: 1;
    position: absolute !important;
    right: -300px;
    min-width: 200px;
    max-width: 500px;
    z-index: 1000;
    transition: all .5s ease;
}

.simple-alert-show{
    /* display: flex !important; */
    opacity: 1;
    right: 8px;
}

.alert-container{
    display: block;
    width: 100vw;
    height: 200px;
    overflow-x: hidden;
    height: auto;
}
.scale-80{
    transform: scale(.8);
}
.scale-80:hover{
    transform: scale(.9);
}